@page "/rules"

<div class="pa-5" >
    <h2>Hi-Lo game rules</h2>
    <p>1. The system chooses a number between [Min; Max] (the mystery number);</p>
    <p>2. The player proposes a number between [Min; Max];</p>
    <p>3. If the player's proposal is not the mystery number, the system tells the player whether:</p>
    <p>     a. HI: the mystery number is higher the player's guess</p>
    <p>     b. LO: the mystery number is lower the player's guess</p>
    <p>And the player plays again;</p>
    <p>4. The goal of the game is to discover the mystery number in a minimum of iterations;</p>
    <p>5. Each iteration have a value of '1';</p>
    <p>6. The winner is the player with less points (iterations) in the total of rounds played.</p>
</div>
<MudStack Row="true" Class="justify-center">
    <MudFab Href="/" Color="Color.Dark" Icon="@Icons.Filled.ArrowBackIos" Label="Back" Size="Size.Small"></MudFab>
</MudStack>