@page "/"

<div class="d-flex justify-center">
    <MudImage Src="/images/logo.png" Class="rounded-lg" ObjectPosition="ObjectPosition.Center" Elevation="21"></MudImage>
</div>
<div class="pa-10 d-flex justify-center" >
    <MudStack>
        <MudButton Href="" Class="pa-3" Style="background-color:white; width: 200px;">
            Single Player
        </MudButton>
        <MudButton Href="" Class="pa-3" Style="background-color:white; width: 200px;">
            Multi Player
        </MudButton>
        <MudButton Href="" Class="pa-3" Style="background-color:white; width: 200px;">
            Options
        </MudButton>
        <MudButton Href="" Class="pa-3" Style="background-color:white; width: 200px;">
            Rules
        </MudButton>
    </MudStack>
</div>
