@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudPaper Height="100%" Width="100%" Class="pa-16 ma-2" Elevation="0">
        <MudContainer MaxWidth="MaxWidth.Small">
            <MudPaper Height="550px" MinWidth="550px" Square="true" Class="pa-10 ma-2" Style="background-color:lightgrey" Elevation="3">
                <div class="d-flex justify-center">
                    <MudImage Src="/images/logo.png" Class="rounded-lg" ObjectPosition="ObjectPosition.Center" Elevation="21"></MudImage>
                </div>
                @Body
            </MudPaper>
        </MudContainer>
    </MudPaper>
</MudLayout>